<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header', { title: 'account' }) %>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Account</h1>
        <div>
          <div id="username"></div>
          <button class="btn btn-danger" id="button__logout">Logout</button>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script>
      $(document).ready(function () {
        const userData = JSON.parse(localStorage.getItem("user"));

        if (!userData) {

        }

        const labelUsername = $("#username");
        labelUsername.html(userData.data.Email);

        const buttonLogout = $("#button__logout");
        buttonLogout.on("click", function () {
          localStorage.clear();
          window.location.reload();
        });
      });
    </script>
  </body>
</html>
