<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header', { title: 'Login' }) %>
    <link rel="stylesheet" href="../../style/style.css">
 
</head>
<body>
    <div class="row 2">
        <div class="column" style="background-color: rgb(27, 222, 165); position: relative;">
            <div class="center-center">
                <h1 align="center" style="color: white; font-size: xx-large;">Welcome Back!</h1>

                <p align="center" style="color: white;">To keep connected with us please login with your personal info</p>
    
                <div class="parent">
                    <button name="button" class="button1">Sign in</button>
                </div>
            </div>

        </div>
        <div class="column" style="position: relative;">
           <div class="center-center" style="width: 100%;">
               <div style="margin: auto; display: block;">
                <center>
                    <h1 style="color: rgb(27, 222, 165); font-size: xx-large;" >Create Account</h1>
                   
                    <h1>...</h1>
                    <p>or use your email for registration</p>
        
                    <form class="from-login" method="POST">
                        <input type="text" placeholder="Name" required><br><br>
                        <input type="email" placeholder="Email"><br><br>
                        <input type="password" placeholder="Password" required>
                    </form>
        
                     <button class="button" type="submit" style="background-color: rgb(21, 202, 148);">Sign Up</button>
                </center>
  
               
        </div>
      </div>
</body>
</html>