<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header', { title: 'Login' }) %>
    <style>
      .w-50 {
        width: 50%;
      }
      .margin-auto {
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form class="w-50 margin-auto" id="form__login" method="post">
        <div class="form-group my-5">
          <h1>Login Car Rental</h1>
        </div>
        <div class="form-group my-3">
          <label for="Username">Username</label>
          <input
            type="text"
            placeholder="Type your username"
            name="Username"
            class="form-control"
          />
        </div>
        <div class="form-group my-3">
          <label for="Password">Password</label>
          <input
            type="password"
            placeholder="Type your Password"
            name="Password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <%- include('partials/footer') %>
    <script>
      async function doLogin(username, password) {
        const response = await fetch(
          "http://localhost:3000/api/v1/auth/login",
          {
            headers: {
              "Content-Type": "application/json",
            },
            method: "post",
            body: JSON.stringify({
              Username: username,
              Password: password,
            }),
          }
        );
        const data = await response.json();
        localStorage.setItem("user", JSON.stringify(data));
        window.location.href = "/account";
      }
      $(document).ready(function () {

        const formLogin = $("#form__login");
        formLogin.on("submit", function (e) {
          e.preventDefault();
          const username = $("input[name=Username]").val();
          const password = $("input[name=Password]").val();
          doLogin(username, password);
        });
      });
    </script>
  </body>
</html>
